.box{
    box-shadow: 3px  #888888;
    .card{
        .card-img-top{
           img{
               width: 150px;
           }
            
        }
        .card-body h5{
            font-weight: bolder;
            font-style: oblique;
        }
        .text-muted{
            font-weight: bolder;
        }
    }
}


